@import controller.routes._
@()
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>
            <li>
                <a href="@SampleController.dashboard()"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="@SampleController.tables()"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="@SampleController.forms()"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@SampleController.panels()">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="@SampleController.buttons()">Buttons</a>
                    </li>
                    <li>
                        <a href="@SampleController.notifications()">Notifications</a>
                    </li>
                    <li>
                        <a href="@SampleController.typography()">Typography</a>
                    </li>
                    <li>
                        <a href="@SampleController.icons()"> Icons</a>
                    </li>
                    <li>
                        <a href="@SampleController.grid()">Grid</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@SampleController.blank()">Blank Page</a>
                    </li>
                    <li>
                        <a href="@LoginLogoutController.index()">Login Page</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
